.cooperation_information h2 {
    text-align: center;
    margin-bottom: 80px;
}

.cooperation_information h3 {
    margin: 50px 0;
}

.cooperation_terms {
    text-align: center;
}

.cooperation_information span {
    font-weight: bolder;
    color: rgba(168, 141, 122);
}

.cooperation_desserts_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cooperation_desserts {
    width: 250px;
    margin-top: 50px;
}

.cooperation_desserts img {
    max-width: 250px;
    border-radius: 20px;
    margin: 1px;
}